#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// WiFi
#define WIFI_SSID     "your_wifi_ssid"
#define WIFI_PASSWORD "your_wifi_password"

// HiveMQ Cloud MQTT Broker
#define MQTT_HOST     "your-cluster.s1.eu.hivemq.cloud"
#define MQTT_PORT     8883
#define MQTT_USER     "your_mqtt_username"
#define MQTT_PASSWORD "your_mqtt_password"

#endif
